@use "../../utils/styles/game" as *;

.tile {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: #eee4da;
  font-size: clamp(20px, calc(#{$tile-size} * 0.5), 40px);
  font-weight: bold;
  width: $tile-size;
  height: $tile-size;
  transition: 0.3s;
  top: calc(var(--y) * (#{$tile-size} + #{$grid-gap}) + #{$board-padding});
  left: calc(var(--x) * (#{$tile-size} + #{$grid-gap}) + #{$board-padding});
}

.tile-2 {
  background: #eee4da;
}

.tile-4 {
  background: #eee1c9;
}

.tile-8 {
  color: #f9f6f2;
  background: #f3b27a;
}

.tile-16 {
  color: #f9f6f2;
  background: #f69664;
}

.tile-32 {
  color: #f9f6f2;
  background: #f77c5f;
}

.tile-64 {
  color: #f9f6f2;
  background: #f75f3b;
}

.tile-128 {
  color: #f9f6f2;
  background: #edd073;
}

.tile-256 {
  color: #f9f6f2;
  background: #edcc62;
}

.tile-512 {
  color: #f9f6f2;
  background: #edc950;
}

.tile-1024 {
  color: #f9f6f2;
  background: #edc53f;
  font-size: clamp(20px, calc(#{$tile-size} * 0.4), 32px);
}

.tile-2048 {
  color: #f9f6f2;
  background: #edc22e;
  font-size: clamp(20px, calc(#{$tile-size} * 0.4), 32px);
}
