.cell {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
  transform: scale(0.8);
  font-size: 55px;
  font-weight: bold;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.cell-2 {
  background: #eee4da;
}

.cell-4 {
  background: #eee1c9;
}

.cell-8 {
  color: #f9f6f2;
  background: #f3b27a;
}

.cell-16 {
  color: #f9f6f2;
  background: #f69664;
}

.cell-32 {
  color: #f9f6f2;
  background: #f77c5f;
}

.cell-64 {
  color: #f9f6f2;
  background: #f75f3b;
}

.cell-128 {
  color: #f9f6f2;
  background: #edd073;
  font-size: 45px;
}

.cell-256 {
  color: #f9f6f2;
  background: #edcc62;
  font-size: 45px;
}

.cell-512 {
  color: #f9f6f2;
  background: #edc950;
  font-size: 45px;
}

.cell-1024 {
  color: #f9f6f2;
  background: #edc53f;
  font-size: 35px;
}

.cell-2048 {
  color: #f9f6f2;
  background: #edc22e;
  font-size: 35px;
}
